.countryList{
    overflow-y:  scroll;
    overflow-x: hidden;
    width: 100%;
  }
  
  .countryList button{
    
    margin: 0px auto;
    text-align: center;
    padding: 15px 0;
  }
  
  
  .cardContainer .card{
    min-height: 80px;
  }


  .menu{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
    /* max-width: 400px; */
    margin: 0 auto;
      background: rgba(0,0,0,0);
}