.App-logo {
  height: 140px;
  pointer-events: none;
  margin-top: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 200s linear;
  }
}

/* ScrollBar */

/* width */

::-webkit-scrollbar {
  width: 20px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #f8f8f8;
  border-radius: 10px;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.header small {
  color: green;
}

/* Footer */

.footer {
  text-align: center;
}

.last-update-container {
  align-self: center
}

.footer-content {
  text-align: center;
  margin: 20px 0 30px 0;
}

/* .app-container{
  max-width: 1400px;
  margin: 0 auto;
} */

/* Main Content */

.app-container {
  max-width: 1600px;
}

/* Design */

.neomorphic {
  border-radius: 50px;
  background: #ebebeb;
  box-shadow: 20px 20px 60px #c8c8c8, -20px -20px 60px #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}