.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.App-logo {
  height: 140px;
  pointer-events: none;
  margin-top: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 420s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Line {
  margin: 20px 0;
}

.App{
  margin: 0;
 width: 100vw;
  max-width: 2457px;
  position: relative;
}

.mainContainer{
  display: flex;
  
}

.countryList{
  position: absolute;
  flex-basis: 10vw;
  align-self: flex-start;
  /* max-height: 52vw; */
  height: 100%;
  overflow-y:  scroll;
}

.countryList button{
  width: 96%;
  margin: 5px auto;
  padding: 15px 0;
}

.chartContainer{
  flex-basis: 80%;
  margin: 0 0 0 220px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
