// General Colors

// Background Colors
$base-background-color: rgba(26,32,53,1);
$base-background-color-semitransparent: rgba(26,32,53,0.92);
// $background-color-dark: ;
$background-color-light: rgba(32,41,64,1);
$background-color-transparent: rgba(255,255,255,0);
$background-color-orange: rgba(245,112,12,1);
$background-color-orange-light: rgba(255,152,0,.5);


// Text Colors
$text-color-light: rgba(169, 176, 187, 0.5);
// $text-color-dark: ;
$text-hide: rgba(255,255,255,0);
$text-success: rgba(40, 167, 69,1);
$text-color-white: rgba(255,255,255,1);

// Cards
$cards-background-color: rgba(32,41,64,1);
// $cards-header-background-color: 

// Charts Colors